.chat_div {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chat_border {
    padding: 3rem;
    background: rgba(255, 255, 255,.5);
    border-radius: 1rem;
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .chat_input {
    height: 2rem;
    width: 15rem;
    padding: 5px; 
  }
  .chat_button {
    height: 2rem;
    padding: 10px;
    margin: 5rem;
    border-radius: 25%;
    background: rgba(255, 255, 255,.2);
  }
  .chatProfileRight {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
    margin-bottom: 5px;
  }
  .chatProfileLeft {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }
  .chatProfileSpan {
    background-color: rgb(213, 213, 182);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }